parameters:
  level: 8
  paths:
    - src
    - tests

  excludePaths:
  - src/Kernel.php
  - src/DataFixtures
  - src/Domain/Event

  checkMissingIterableValueType: true
  checkGenericClassInNonGenericObjectType: true
  checkMissingCallableSignature: true

  ignoreErrors:
    - "#Call to an undefined method [A-Za-z0-9_\\\\]+::recordDomainEvent\\(\\)#"
    - "#Call to an undefined method [A-Za-z0-9_\\\\]+::pullDomainEvents\\(\\)#"
    - "#Call to an undefined method [A-Za-z0-9_\\\\]+::getDomainEvents\\(\\)#"