parameters:
  level: 8
  paths:
    - src
    - tests

  excludePaths:
    - src/Kernel.php
    - src/DataFixtures

  checkMissingIterableValueType: true
  checkGenericClassInNonGenericObjectType: true
  checkMissingCallableSignature: true

  # Reglas de DDD/CQRS que suelen “falsear” en PHPStan
  ignoreErrors:
    - '#Call to an undefined method [A-Za-z0-9_\\]+::recordDomainEvent\(\)#'
    - '#C